@tailwind base;
@tailwind components;
@tailwind utilities;

  ::-webkit-scrollbar {
    display: none; 
  }
  
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
  }

@layer utilities{
  .card-wrapper{
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden;
  }
  .card-wrapper::before{
    background:conic-gradient(
      rgba(244,114,182,0.7) 0deg,
      rgba(192,132,252,0.7) 0deg,
      transparent 80deg
    );
    @apply h-[150%] w-[150%] left-[-25%] top-[-25%]  content-[''] absolute animate-border-spin;
  }
  .card-content{
      @apply w-[calc(100%-2px)] h-[calc(100%-2px)] top-[1px] left-[1px] absolute bg-gradient-to-b from-slate-900 to-slate-950 rounded-2xl;
    }
  }
